<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                    <th>ID</th>
                    <th>Nombre</th> 
                    <th>Peso</th> 
                    <th>Altura</th>
                    <th>Esperanza de vida</th>
                    
            </thead>
            <tbody>
                <tr *ngFor="let raza of razas | paginate: { itemsPerPage: 5, currentPage: page }  "> 
                    <td>{{raza.id}}</td>
                    <td>{{raza.name}}</td>
                    <td>{{raza.weight.metric}}   cm</td>
                    <td>{{raza.height.metric}}   Kg</td> 
                    <td>{{raza.life_span}}</td> 
                   
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="page= $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
